*.txt
*.tmp
*.DS_Store
*.pkl

# don't ignore important .txt and .csv files
!LICENSE.txt
!CMakeLists.txt

# running files
*.pyc
*.py~
.~lock*
*.swp

# Python cache
*__pycache__/
*.cache
.pytest_cache

# Sphinx build files
build/

# setup.py files
*.egg-info
dist/

# coverage
.coverage
coverage.xml

# virtual environment
env/
venv/
venv3.5/
bin/
etc/
lib/
lib64
share/
pyvenv.cfg
.vscode
.ruff_cache/

# sundials
sundials
sundials4
sundials-*
SuiteSparse-*
build_sundials
KLU_module_deps


# cmakefiles
CMakeFiles
Makefile
cmake_install.cmake
*.so

third-party/pybind11
pybind11/

# Build dependencies/
KLU_module_deps

# setup
setup.log

# tox
.tox/

# nox
.nox/

# vcpkg
vcpkg_installed/

# tests
test_callback.log
